body {
	/* margin: 1em; */
	/* padding: 1em; */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#canvas {
	width: min(90vw, 90vh);
  height: min(90vw, 90vh);
  max-width: 500px;
  max-height: 500px;
  box-shadow: 2px 2px 10px #959595;
}
