body {
	margin: 0;
	background-color: black;
}

#wall {
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 100vw;
}

.error {
	color: white;
}

.thumb {
	list-style: none;
	transition: filter .2s ease-in-out;
	filter: grayscale(100%);
	cursor: pointer;
}

.thumb > * {
	object-fit: cover;
	float: left;
}

.thumb div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
    color: white;
	font-size: 2em;
}

.thumb:hover {
	filter: grayscale(0%);
}

path, circle {
	fill-rule: nonzero;
	stroke: #fff;
	stroke-width: 0.5px;
	stroke-dasharray: 500;
	animation: dash 10s ease-in-out infinite;
}

.overlay {
	background-color: rgba(0,0,0,.8);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.preview {
	width: 90vw;
}

.hidden {
	display: none;
}

@keyframes dash {
	0%, 90%, 100% {
		fill: black;
		stroke-dashoffset: 500;
	}
	45% {
		fill: white;
		stroke-dashoffset: 0;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.thumb img,  .thumb div {
		width: calc(100vw  /3);
		height: calc(100vw  /3);
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.thumb img,  .thumb div {
		width: 25vw;
		height: 25vw;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
	.thumb img,  .thumb div {
		width: 25vw;
		height: 25vw;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
	.thumb img,  .thumb div {
		width: 20vw;
		height: 20vw;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
	.thumb img,  .thumb div {
		width: 10vw;
		height: 10vw;
	}
}